.container {
    display: flex;
	flex-direction: column;
	width: 300px;
	box-shadow: 1px 1px 1px 5px rgba(4, 7, 2, 0.839);
	border-top: 5px solid  #070808;
	border-bottom: 5px solid #0c0e0d;
    border-left:5px solid #0f1312; 
    border-right: 5px solid #070909;
    color: rgb(232, 232, 255);
    align-items: center;
    justify-content: center;
    margin-left: 550px;
	padding: 40px;
	margin-top: 60px;
	border-radius: 50px;
	
	
    

    
} 
h1{
	height: 25px;
    text-decoration:underline;
    color:rgb(2, 0, 3);
	padding:10px;
	
}

.todo {
	display: flex;
	justify-content: space-between;
	padding: 5px;
    margin-bottom: 25px;
    background-size: cover;
} 

.todo__value {
	background-color:rgb(181, 179, 175);
	font-family: 'Quicksand', sans-serif;
	font-size: 15px;
	font-weight: bold;
	padding:15px
	  
}
.todo__checkbox{
	height: 20px;
	width:20px;
	margin-top:15px;
	
}